
@import "compass/css3";
@import 'font-awesome';

$tablet-width: 768px;

html, body {
  height: 100%;
}

body {
  color: #fff;
  background-color: #222;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;

  margin-top: -100px;

  h1 {
    font-weight: 300;
    font-size: 250%;
  }

  @media (min-width: $tablet-width) {
    margin-top: -190px;

    h1 {
      font-size: 500%;
    }
  }
}

.name {
  .first {
    font-weight: 200;
  }

  .last {
    font-weight: 400;
  }
}

.links {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding: 0 0.6em;
    font-size: 230%;

    @media (min-width: $tablet-width) {
      font-size: 350%;
    }
  }

  a {
    color: hsl(230, 85%, 72%);
    text-decoration: none;

    @include transition-duration(100ms);
    @include transition-timing-function(linear);

    &:hover {
      text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.5);
    }
  }

  .twitter {
    @extend .fa;
    @extend .fa-twitter;
  }

  .github {
    @extend .fa;
    @extend .fa-github;
  }

  .gittip {
    @extend .fa;
    @extend .fa-heart;
  }

  .blog {
    @extend .fa;
    @extend .fa-pencil;
  }

  .text {
    display: none;
  }
}
