main
  h1.name
    span.first> Yuji
    span.last Nakayama
  ul.links
    li
      a.github href="https://github.com/yujinakayama"
        span.text GitHub
    li
      a.gratipay href="https://gratipay.com/~yujinakayama/"
        span.text Gratipay
    li
      a.twitter href="https://twitter.com/nkym37"
        span.text Twitter
    li
      a.vimeo href="https://vimeo.com/yujinakayama"
        span.text Vimeo
    li
      a.blog href="http://blog.yujinakayama.me/"
        span.text Blog
